In [254]:
import pandas as pd
import os

In [255]:
# Odczytaj plik 2017_jun_final.csv przy użyciu metody read_csv.

In [256]:
url_gd_poll = 'https://drive.google.com/uc?export=download&id=1bQvtiXzLnoZWNH2Qi9-rHUuxz0hELf_1'
poll_table = pd.read_csv(url_gd_poll, index_col=0)

In [257]:
# Odczytaj tabelę wynikową przy użyciu metody head.

In [258]:
print(f'Poll Table:\n{poll_table.head()}')

Poll Table:
                       Role Programming language Specialisation   \
N
1        Junior QA engineer                  NaN       Manual QA
2        Junior QA engineer                  NaN       Manual QA
3         Software Engineer              C#/.NET             NaN
4         Software Engineer           JavaScript             NaN
5  Senior Software Engineer           JavaScript             NaN

         Experience  Experience on current job  Salary/month  \
N
1                0.5                       0.5           400
2  loss then 3 month         loss then 3 month           430
3                  4                         1          2500
4                  5                         4          2000
5               10+                        0.5          4500

   Изменение.зарплаты.за.12.месяцев       City              Company size  \
N
1                                 0  New York         up to 10 employees
2                               130  New York   more then 1000 employees
3                               800     Berlin      up to 1000 employees
4                               400      Odesa       up to 200 employees
5                               500      Other        up to 10 employees

  Company type  ... Still student  English   \
N               ...
1  Outsourcing  ...          True        A1
2  Outsourcing  ...          True        B2
3  Outsourcing  ...         False        B1
4      product  ...         False        A1
5      product  ...         False        B1

                           Subject.area                 Date  \
N
1                         iOS,eCommerce  12/06/2017 12:38:08
2                       Web development  12/06/2017 12:42:51
3   Web development,Corporative systems  12/06/2017 13:02:47
4  Desktop Applications,Web development  12/06/2017 13:03:01
5  Desktop Applications,Web development  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
N
1  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
2  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
3  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
4  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
5  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
N
1    400    NaN   QA
2    430    NaN   QA
3   2500    NaN  DEV
4   2000    NaN  DEV
5   4500    NaN  DEV

[5 rows x 24 columns]

In [259]:
# Zdefiniuj rozmiar tabeli przy użyciu metody shape.

In [260]:
num_rows, num_columns = poll_table.shape
print(f'Rows: {num_rows}')
print(f'Columns: {num_columns}')

Rows: 8704
Columns: 24

In [261]:
# Zdefiniuj typy wszystkich kolumn za pomocą metody dataframe.dtypes.

In [262]:
print(f'Data types:\n{poll_table.dtypes}\n')

Data types:
Role                                 object
Programming language                 object
Specialisation                       object
Experience                           object
Experience on current job            object
Salary/month                          int64
Изменение.зарплаты.за.12.месяцев      int64
City                                 object
Company size                         object
Company type                         object
Gender                               object
Age                                   int64
Education                            object
University                           object
Still student                          bool
English                              object
Subject.area                         object
Date                                 object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [263]:
# Oblicz proporcję spacji w każdej kolumnie (użyj metod isnull i sum).

In [264]:
missing_values_count = poll_table.isnull().sum()

print(f'Missing values in each column:\n{missing_values_count}\n')

Missing values in each column:
Role                                   0
Programming language                3850
Specialisation                      7219
Experience                             0
Experience on current job              0
Salary/month                           0
Изменение.зарплаты.за.12.месяцев       0
City                                   0
Company size                           0
Company type                           0
Gender                                 0
Age                                    0
Education                              0
University                          1546
Still student                          0
English                                0
Subject.area                         223
Date                                   0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [265]:
# Usuń wszystkie kolumny ze spacjami z wyjątkiem kolumny "Język programowania".

In [266]:
column_to_hold = 'Programming language'
columns_with_spaces = [
    col for col in poll_table.columns 
    if poll_table[col].apply(lambda x: str(x).isspace() or str(x) == '').all()
]
columns_to_drop = [col for col in columns_with_spaces if col != column_to_hold]

poll_table = poll_table.drop(columns=columns_to_drop)
print(f'{poll_table}')

                          Role Programming language Specialisation   \
N
1           Junior QA engineer                  NaN       Manual QA
2           Junior QA engineer                  NaN       Manual QA
3            Software Engineer              C#/.NET             NaN
4            Software Engineer           JavaScript             NaN
5     Senior Software Engineer           JavaScript             NaN
...                        ...                  ...             ...
8700               QA engineer                  NaN       Manual QA
8701                 Marketing                  NaN             NaN
8702  Junior Software Engineer           Ruby/Rails             NaN
8703                 Team lead                  NaN             NaN
8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
N
1                   0.5                       0.5           400
2     loss then 3 month         loss then 3 month           430
3                     4                         1          2500
4                     5                         4          2000
5                  10+                        0.5          4500
...                 ...                       ...           ...
8700                  1         loss then 3 month           700
8701                0.5                       0.5           400
8702                  1                       0.5           800
8703                  6                         4          2600
8704                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
N
1                                    0  New York         up to 10 employees
2                                  130  New York   more then 1000 employees
3                                  800     Berlin      up to 1000 employees
4                                  400      Odesa       up to 200 employees
5                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8700                               700      Odesa        up to 50 employees
8701                               120     Berlin        up to 50 employees
8702                               500       Rome        up to 10 employees
8703                                 0      Paris  more then 1000 employees
8704                               800      Odesa      up to 1000 employees

     Company type  ... Still student  English   \
N                  ...
1     Outsourcing  ...          True        A1
2     Outsourcing  ...          True        B2
3     Outsourcing  ...         False        B1
4         product  ...         False        A1
5         product  ...         False        B1
...           ...  ...           ...       ...
8700  Outsourcing  ...         False        B1
8701      product  ...         False        A1
8702  Outstaffing  ...         False        B2
8703  Outsourcing  ...         False        С1
8704      product  ...         False        B2

                              Subject.area                 Date  \
N
1                            iOS,eCommerce  12/06/2017 12:38:08
2                          Web development  12/06/2017 12:42:51
3      Web development,Corporative systems  12/06/2017 13:02:47
4     Desktop Applications,Web development  12/06/2017 13:03:01
5     Desktop Applications,Web development  12/06/2017 13:03:47
...                                    ...                  ...
8700          Android,Desktop Applications  12/07/2017 15:45:24
8701                             eCommerce  12/07/2017 17:00:06
8702   Web development,Corporative systems  12/07/2017 17:32:26
8703                               Finance  12/07/2017 18:14:59
8704                       Web development  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
N
1     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
2     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
3     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
4     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
5     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8700  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8701  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8702  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8704  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
N
1       400    NaN   QA
2       430    NaN   QA
3      2500    NaN  DEV
4      2000    NaN  DEV
5      4500    NaN  DEV
...     ...    ...  ...
8700    700    NaN   QA
8701    400    NaN  NaN
8702    800    NaN  DEV
8703   2600    NaN   PM
8704   5000    NaN  DEV

[8704 rows x 24 columns]

In [267]:
# Ponownie policz odsetek pustych miejsc w każdej kolumnie i upewnij się, że pozostała tylko kolumna "Język programowania"

In [268]:
missing_values_count = poll_table.isnull().sum()

print(f'Missing values in each column:\n{missing_values_count}\n')

Missing values in each column:
Role                                   0
Programming language                3850
Specialisation                      7219
Experience                             0
Experience on current job              0
Salary/month                           0
Изменение.зарплаты.за.12.месяцев       0
City                                   0
Company size                           0
Company type                           0
Gender                                 0
Age                                    0
Education                              0
University                          1546
Still student                          0
English                                0
Subject.area                         223
Date                                   0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [269]:
# Usuń wszystkie wiersze z oryginalnej tabeli za pomocą metody dropna.

In [270]:
poll_table = poll_table.dropna(axis=1, thresh=100)
missing_values_count = poll_table.isnull().sum()
print(f'Missing values in each column:\n{missing_values_count}\n')
print(f'{poll_table}')

Missing values in each column:
Role                                   0
Programming language                3850
Specialisation                      7219
Experience                             0
Experience on current job              0
Salary/month                           0
Изменение.зарплаты.за.12.месяцев       0
City                                   0
Company size                           0
Company type                           0
Gender                                 0
Age                                    0
Education                              0
University                          1546
Still student                          0
English                                0
Subject.area                         223
Date                                   0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
cls                                 1574
dtype: int64

                          Role Programming language Specialisation   \
N
1           Junior QA engineer                  NaN       Manual QA
2           Junior QA engineer                  NaN       Manual QA
3            Software Engineer              C#/.NET             NaN
4            Software Engineer           JavaScript             NaN
5     Senior Software Engineer           JavaScript             NaN
...                        ...                  ...             ...
8700               QA engineer                  NaN       Manual QA
8701                 Marketing                  NaN             NaN
8702  Junior Software Engineer           Ruby/Rails             NaN
8703                 Team lead                  NaN             NaN
8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
N
1                   0.5                       0.5           400
2     loss then 3 month         loss then 3 month           430
3                     4                         1          2500
4                     5                         4          2000
5                  10+                        0.5          4500
...                 ...                       ...           ...
8700                  1         loss then 3 month           700
8701                0.5                       0.5           400
8702                  1                       0.5           800
8703                  6                         4          2600
8704                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
N
1                                    0  New York         up to 10 employees
2                                  130  New York   more then 1000 employees
3                                  800     Berlin      up to 1000 employees
4                                  400      Odesa       up to 200 employees
5                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8700                               700      Odesa        up to 50 employees
8701                               120     Berlin        up to 50 employees
8702                               500       Rome        up to 10 employees
8703                                 0      Paris  more then 1000 employees
8704                               800      Odesa      up to 1000 employees

     Company type  ...                          University  Still student  \
N                  ...
1     Outsourcing  ...                               Other           True
2     Outsourcing  ...                               Other           True
3     Outsourcing  ...                Princeton University          False
4         product  ...                                 NaN          False
5         product  ...                                 NaN          False
...           ...  ...                                 ...            ...
8700  Outsourcing  ...  University of California, Berkeley          False
8701      product  ...                                 NaN          False
8702  Outstaffing  ...                Princeton University          False
8703  Outsourcing  ...                                 NaN          False
8704      product  ...                                 NaN          False

     English                           Subject.area                 Date  \
N
1          A1                         iOS,eCommerce  12/06/2017 12:38:08
2          B2                       Web development  12/06/2017 12:42:51
3          B1   Web development,Corporative systems  12/06/2017 13:02:47
4          A1  Desktop Applications,Web development  12/06/2017 13:03:01
5          B1  Desktop Applications,Web development  12/06/2017 13:03:47
...       ...                                   ...                  ...
8700       B1          Android,Desktop Applications  12/07/2017 15:45:24
8701       A1                             eCommerce  12/07/2017 17:00:06
8702       B2   Web development,Corporative systems  12/07/2017 17:32:26
8703       С1                               Finance  12/07/2017 18:14:59
8704       B2                       Web development  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
N
1     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
2     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
3     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
4     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
5     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8700  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8701  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8702  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8704  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary  cls
N
1       400   QA
2       430   QA
3      2500  DEV
4      2000  DEV
5      4500  DEV
...     ...  ...
8700    700   QA
8701    400  NaN
8702    800  DEV
8703   2600   PM
8704   5000  DEV

[8704 rows x 23 columns]

In [271]:
# Zdefiniuj nowy rozmiar tabeli za pomocą metody shape.

In [272]:
num_rows, num_columns = poll_table.shape

print(f'Rows: {num_rows}')
print(f'Columns: {num_columns}')

Rows: 8704
Columns: 23

In [273]:
# Utwórz nową tabelę python_data, która będzie zawierać tylko wiersze ze specjalistami, którzy podali język programowania Python.
# Zdefiniuj rozmiar tabeli python_data za pomocą metody shape.

In [274]:
python_data_table = poll_table[poll_table['Programming language'] == 'Python']
python_data_table = python_data_table.dropna(axis=1, how='all')
num_rows, num_columns = python_data_table.shape

print(f'Python programmer table Rows: {num_rows}')
print(f'Python programmer table Columns: {num_columns}\n')
print(f'Python programmer table: \n{python_data_table}')

Python programmer table Rows: 207
Python programmer table Columns: 22

Python programmer table:
                          Role Programming language Experience   \
N
13           Software Engineer               Python           1
69           Software Engineer               Python         1.5
88    Junior Software Engineer               Python         0.5
115   Junior Software Engineer               Python         1.5
144   Junior Software Engineer               Python           1
...                        ...                  ...         ...
8547         Software Engineer               Python           5
8626         Software Engineer               Python           4
8636  Senior Software Engineer               Python        10+
8674  Junior Software Engineer               Python         0.5
8696         Software Engineer               Python           1

     Experience on current job  Salary/month  \
N
13           loss then 3 month           800
69                         0.5           900
88                         0.5           600
115                        0.5           685
144                          1           750
...                        ...           ...
8547                         1          2000
8626                         1          1750
8636         loss then 3 month          4000
8674                       0.5           350
8696                       0.5          1500

      Изменение.зарплаты.за.12.месяцев    City              Company size  \
N
13                                 200  Berlin        up to 50 employees
69                                 900  Berlin        up to 10 employees
88                                   0  Berlin        up to 10 employees
115                                250  Berlin      up to 1000 employees
144                                250  Berlin        up to 10 employees
...                                ...     ...                       ...
8547                               800    Łódź        up to 50 employees
8626                                 0  Berlin  more then 1000 employees
8636                              1300  Remote        up to 10 employees
8674                                50  Berlin        up to 50 employees
8696                              1000  Berlin        up to 10 employees

     Company type Gender  ...                        University Still student  \
N                         ...
13    Outsourcing   male  ...  National University of Singapore         False
69       start up   male  ...              University of Oxford          True
88    Outsourcing   male  ...  National University of Singapore          True
115   Outsourcing   male  ...  National University of Singapore         False
144   Outsourcing   male  ...  National University of Singapore          True
...           ...    ...  ...                               ...           ...
8547  Outsourcing   male  ...                             Other         False
8626  Outsourcing   male  ...                               NaN         False
8636     start up   male  ...              Princeton University         False
8674  Outsourcing   male  ...  National University of Singapore         False
8696     start up   male  ...              Princeton University         False

     English                Subject.area                 Date  \
N
13         A1      Web development,Other  12/06/2017 13:05:54
69         B2            Web development  12/06/2017 13:11:17
88         B2  Web development,eCommerce  12/06/2017 13:12:25
115        B1                      Other  12/06/2017 13:14:52
144        B2            Web development  12/06/2017 13:19:10
...       ...                        ...                  ...
8547       B1            Web development  10/07/2017 14:11:26
8626       B1            Web development  11/07/2017 16:15:40
8636       B2            Web development  11/07/2017 17:51:36
8674       B1            Web development   12/07/2017 9:37:16
8696       B1          Finance,eCommerce  12/07/2017 14:39:21

                                             User.Agent   exp current_job_exp  \
N
13    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0             0.0
69    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5             0.5
88    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5             0.5
115   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5             0.5
144   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             1.0
...                                                 ...   ...             ...
8547  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8626  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0             1.0
8636  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0             0.0
8674  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5             0.5
8696  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5

      salary  cls
N
13       800  DEV
69       900  DEV
88       600  DEV
115      685  DEV
144      750  DEV
...      ...  ...
8547    2000  DEV
8626    1750  DEV
8636    4000  DEV
8674     350  DEV
8696    1500  DEV

[207 rows x 22 columns]

In [275]:
# Używając metody groupby, pogrupuj według kolumny "Stanowisko".

In [276]:
python_data_table.columns = python_data_table.columns.str.strip()
python_data_table = python_data_table.sort_values(by=['Role', 'Experience on current job'],
                                                  ascending=[True, True]).reset_index(drop=True)

print(python_data_table)

                         Role Programming language Experience  \
0    Junior Software Engineer               Python       0.25
1    Junior Software Engineer               Python          1
2    Junior Software Engineer               Python          1
3    Junior Software Engineer               Python        0.5
4    Junior Software Engineer               Python       0.25
..                        ...                  ...        ...
202            Technical Lead               Python          2
203            Technical Lead               Python          5
204            Technical Lead               Python          3
205            Technical Lead               Python       10+
206            Technical Lead               Python          7

    Experience on current job  Salary/month  Изменение.зарплаты.за.12.месяцев  \
0                        0.25           800                                 0
1                        0.25           800                               300
2                        0.25           300                                 0
3                        0.25           500                               200
4                        0.25           400                                 0
..                        ...           ...                               ...
202                         2          3300                               800
203                         3          2900                               180
204                         3          3700                                 0
205                         7          2700                                 0
206                         7          1900                               150

          City         Company size Company type Gender  ...  \
0       Berlin   up to 50 employees      product   male  ...
1       Remote   up to 50 employees     start up   male  ...
2         Rome   up to 50 employees     start up   male  ...
3         Rome   up to 10 employees  Outsourcing   male  ...
4         Rome  up to 200 employees  Outsourcing   male  ...
..         ...                  ...          ...    ...  ...
202  New York   up to 200 employees  Outsourcing   male  ...
203      Paris   up to 10 employees  Outstaffing   male  ...
204      Odesa   up to 10 employees      product   male  ...
205  New York    up to 10 employees  Outstaffing   male  ...
206       Rome  up to 200 employees      product   male  ...

                             University Still student English  \
0                   Stanford University         False      С1
1                                 Other         False      A1
2                  University of Oxford          True      B1
3                                 Other          True      B1
4                  University of Oxford          True      B1
..                                  ...           ...     ...
202                Princeton University         False      B1
203                                 NaN         False      B2
204  University of California, Berkeley         False      B2
205                Princeton University         False      B2
206                University of Oxford         False      B2

                            Subject.area                 Date  \
0                     Telecommunications  12/06/2017 13:22:31
1                        Web development  12/06/2017 16:33:42
2                          Finance,Other  12/06/2017 17:45:49
3                        Web development  12/06/2017 22:18:34
4                        Web development  13/06/2017 01:53:20
..                                   ...                  ...
202                      Web development  15/06/2017 11:16:57
203                      Web development  16/06/2017 21:46:04
204                  Corporative systems  21/06/2017 13:55:30
205                      Web development  20/06/2017 16:31:42
206  Web development,Corporative systems  08/07/2017 18:46:55

                                            User.Agent    exp current_job_exp  \
0    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.25            0.25
1    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.00            0.25
2    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.00            0.25
3    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.50            0.25
4    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.25            0.25
..                                                 ...    ...             ...
202  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   2.00            2.00
203  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2...   5.00            3.00
204  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   3.00            3.00
205  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.00            7.00
206  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   7.00            7.00

     salary   cls
0       800   DEV
1       800   DEV
2       300   DEV
3       500   DEV
4       400   DEV
..      ...   ...
202    3300  SDEV
203    2900  SDEV
204    3700  SDEV
205    2700  SDEV
206    1900  SDEV

[207 rows x 22 columns]

In [277]:
# Utwórz nowy DataFrame, w którym dla danych pogrupowanych według kolumny "Stanowisko" wykonaj agregację danych za pomocą metody agg i znajdź minimalne i maksymalne wartości w kolumnie "Wynagrodzenie.za.miesiąc"

In [278]:
aggregated_data = python_data_table.groupby('Role')['Salary/month'].agg(max_salary='max', min_salary='min')

print(aggregated_data)

                          max_salary  min_salary
Role
Junior Software Engineer        1250         100
Senior Software Engineer        9200        1300
Software Engineer               5400         500
System Architect                5000        3000
Technical Lead                  6200        1425

In [279]:
# Utwórz funkcję fill_avg_salary, która zwróci średnią miesięczną pensję. Użyj jej w metodzie apply i utwórz nową kolumnę "avg".

In [280]:
python_data_table['avg'] = python_data_table.groupby('Role')['Salary/month'].transform('mean').round(2)

print(python_data_table)

                         Role Programming language Experience  \
0    Junior Software Engineer               Python       0.25
1    Junior Software Engineer               Python          1
2    Junior Software Engineer               Python          1
3    Junior Software Engineer               Python        0.5
4    Junior Software Engineer               Python       0.25
..                        ...                  ...        ...
202            Technical Lead               Python          2
203            Technical Lead               Python          5
204            Technical Lead               Python          3
205            Technical Lead               Python       10+
206            Technical Lead               Python          7

    Experience on current job  Salary/month  Изменение.зарплаты.за.12.месяцев  \
0                        0.25           800                                 0
1                        0.25           800                               300
2                        0.25           300                                 0
3                        0.25           500                               200
4                        0.25           400                                 0
..                        ...           ...                               ...
202                         2          3300                               800
203                         3          2900                               180
204                         3          3700                                 0
205                         7          2700                                 0
206                         7          1900                               150

          City         Company size Company type Gender  ...  Still student  \
0       Berlin   up to 50 employees      product   male  ...          False
1       Remote   up to 50 employees     start up   male  ...          False
2         Rome   up to 50 employees     start up   male  ...           True
3         Rome   up to 10 employees  Outsourcing   male  ...           True
4         Rome  up to 200 employees  Outsourcing   male  ...           True
..         ...                  ...          ...    ...  ...            ...
202  New York   up to 200 employees  Outsourcing   male  ...          False
203      Paris   up to 10 employees  Outstaffing   male  ...          False
204      Odesa   up to 10 employees      product   male  ...          False
205  New York    up to 10 employees  Outstaffing   male  ...          False
206       Rome  up to 200 employees      product   male  ...          False

    English                         Subject.area                 Date  \
0        С1                   Telecommunications  12/06/2017 13:22:31
1        A1                      Web development  12/06/2017 16:33:42
2        B1                        Finance,Other  12/06/2017 17:45:49
3        B1                      Web development  12/06/2017 22:18:34
4        B1                      Web development  13/06/2017 01:53:20
..      ...                                  ...                  ...
202      B1                      Web development  15/06/2017 11:16:57
203      B2                      Web development  16/06/2017 21:46:04
204      B2                  Corporative systems  21/06/2017 13:55:30
205      B2                      Web development  20/06/2017 16:31:42
206      B2  Web development,Corporative systems  08/07/2017 18:46:55

                                            User.Agent    exp current_job_exp  \
0    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.25            0.25
1    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.00            0.25
2    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.00            0.25
3    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.50            0.25
4    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.25            0.25
..                                                 ...    ...             ...
202  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   2.00            2.00
203  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2...   5.00            3.00
204  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   3.00            3.00
205  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.00            7.00
206  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   7.00            7.00

    salary   cls      avg
0      800   DEV   560.84
1      800   DEV   560.84
2      300   DEV   560.84
3      500   DEV   560.84
4      400   DEV   560.84
..     ...   ...      ...
202   3300  SDEV  3165.91
203   2900  SDEV  3165.91
204   3700  SDEV  3165.91
205   2700  SDEV  3165.91
206   1900  SDEV  3165.91

[207 rows x 23 columns]

In [281]:
# Utwórz statystyki opisowe za pomocą metody describe dla nowej kolumny.

In [282]:
description = python_data_table['avg'].describe().round(2)

print(description)

count     207.00
mean     1753.94
std       996.56
min       560.84
25%       560.84
50%      1799.07
75%      1799.07
max      4000.00
Name: avg, dtype: float64

In [283]:
# Zapisz wynikową tabelę w pliku CSV.

In [284]:
output_file_name = 'Python_Dev_data.csv'
python_data_table.to_csv(output_file_name, index=False, encoding='utf-8-sig')

print(f'File saved in: {os.getcwd()}')
print(f'The table is saved in a file: {output_file_name}')

File saved in: D:\MyProjects\GoIT_DS\Homework_02
The table is saved in a file: Python_Dev_data.csv