In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Odczytaj plik 2017_jun_final.csv przy użyciu metody read_csv.

In [3]:
url_gd_poll = 'https://drive.google.com/uc?export=download&id=1bQvtiXzLnoZWNH2Qi9-rHUuxz0hELf_1'
poll_table = pd.read_csv(url_gd_poll)

In [4]:
# Odczytaj tabelę wynikową przy użyciu metody head.

In [5]:
print(f'Poll Table:\n{poll_table.head()}')

Poll Table:
   N                      Role Programming language Specialisation   \
0  1        Junior QA engineer                  NaN       Manual QA
1  2        Junior QA engineer                  NaN       Manual QA
2  3         Software Engineer              C#/.NET             NaN
3  4         Software Engineer           JavaScript             NaN
4  5  Senior Software Engineer           JavaScript             NaN

         Experience  Experience on current job  Salary/month  \
0                0.5                       0.5           400
1  loss then 3 month         loss then 3 month           430
2                  4                         1          2500
3                  5                         4          2000
4               10+                        0.5          4500

   Изменение.зарплаты.за.12.месяцев       City              Company size  ...  \
0                                 0  New York         up to 10 employees  ...
1                               130  New York   more then 1000 employees  ...
2                               800     Berlin      up to 1000 employees  ...
3                               400      Odesa       up to 200 employees  ...
4                               500      Other        up to 10 employees  ...

  Still student English                           Subject.area  \
0          True       A1                         iOS,eCommerce
1          True       B2                       Web development
2         False       B1   Web development,Corporative systems
3         False       A1  Desktop Applications,Web development
4         False       B1  Desktop Applications,Web development

                  Date                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [6]:
# Zdefiniuj rozmiar tabeli przy użyciu metody shape.

In [7]:
num_rows, num_columns = poll_table.shape
print(f'Rows: {num_rows}')
print(f'Columns: {num_columns}')

Rows: 8704
Columns: 25

In [8]:
# Zdefiniuj typy wszystkich kolumn za pomocą metody dataframe.dtypes.

In [9]:
print(f'Data types:\n{poll_table.dtypes}\n')

Data types:
N                                     int64
Role                                 object
Programming language                 object
Specialisation                       object
Experience                           object
Experience on current job            object
Salary/month                          int64
Изменение.зарплаты.за.12.месяцев      int64
City                                 object
Company size                         object
Company type                         object
Gender                               object
Age                                   int64
Education                            object
University                           object
Still student                          bool
English                              object
Subject.area                         object
Date                                 object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [ ]:
# Oblicz proporcję spacji w każdej kolumnie (użyj metod isnull i sum).